body {
  margin: 0;
  padding: 0;
}

.section {
  padding: 15px;
}

#head {
  margin-top: 40px;
  background-color: #006600;
  color: White;
}

#nav_container {
  background-color: #FF6600;
}

#navbar {
  position: fixed;
}

#profile {
  background-color: #FFFFCC;
  color: Black;
}

#activity {
  background-color: Navy;
  color: White;
}

#activity a {
  color: Lime;
}

#projects {
  background-color: #CCFFFF;
  color: Black;
}

#kampa {
  background-color: Red;
  color: White;
}

#kampa a {
  color: White;
}

footer {
  padding: 15;
  margin-top: 40px;
  margin-bottom: 40px;
}

@media (min-width: 980px) {
  .brand {
    display: none !important;
  }
}

@media (max-width: 767px) {
  .navbar-fixed-top, .navbar-fixed-bottom {
    margin-right: 0 !important;
    margin-left: 0 !important;
  }
}